#navbar{
  background: lightseagreen;
}
#navbar a{
  color: #fff !important;
}
#dropOption{
  font-size: 15px;
  background: lightseagreen !important;
}
#dropOption li a:hover{
  background-color: #fff;
  color: black !important;
}
/*topbar start from here*/
#top_header_area{
background:#f9f9f9;
border:1px solid #e8e8e8;
}
#top_header_area ul{
margin:0;
padding: 0;
list-style-type: none;
text-align: left;
}
#top_header_area ul li{
display: inline-block;
padding: 10px;
border-right: 1px solid #e8e8e8;
}

#top_header_area ul.social li a{
text-align: center;
color: #afb0b4;
}
#top_header_area ul.contact li i{
color: #df4a43;
padding-right: 10px;
color: darkcyan;
}
#top_header_area ul.social{
float: right;
}
#top_header_area ul.social li a i{
font-size: 15px;
color: darkcyan;
}
#top_header_area ul.social li a i:hover{
color: red;
}

#top_header_area{
display: block;
content: "";
clear: both;
}
/*Top Header Start from here*/  
  
  
  
  
  /* Make the image fully responsive */

  .carousel-inner img {
    width: 100%;
    height: 480px;
  }
  #demo{
      margin-top: -24px;
      padding: 0;
  }

  .carousel-caption{
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
  }
  .simplenav a{
      text-decoration: none;
      color: #fff;
  }
  #social ul{
      list-style-type: none;
  }
  #social ul li{
    display: inline-flex;
    padding: 12px;
  }
  #social ul li a i{
      font-size: 25px !important;
      color: #fff;     
  }
  #socialApp{
    list-style-type: none;
  }
  #socialApp li a{
    color: seashell;
  }
  .highlight img{
      width: 100%;
      height: 150px;
      border-radius: 15%;
  }
  .highlight p{
      text-align: center;
      font-size: 16px;
  }
  #child_feature_area h3{
      padding-bottom: 100px;
  }
  #pack-1{
    text-align: center;
  }
  #pack-1 h3{
  background: #222;
  text-align: center;
  color: #fff;
  padding: 10px;
  }
  #pack-1 #amount{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding-top:15%;
    color: black;
  }
  #amount span{
    font-size: 15px;
  }
  #child_package{
    background: #f4f4f4;
    margin-top: -10px;
    color: green;
    font-size: 12px;
    padding-bottom: 15%;
  }
  #channel{
    color: red;
  }